@{
    ViewData["Title"] = "Home Page";
}

<h1> Task: </h1>
<div>
    <h4>Тестовое задание.  Учет программистов по проектам.</h4>
    <ul style="list-style: none">
        <li>- Компания ведет много проектов.</li>
        <li>- В компании работает много программистов.</li>
        <li>- Один программист может участвовать в нескольких проектах одновременно.</li>
        <li>- На одном проекте может быть задействовано много программистов.</li>
    </ul>

    Задача:
    <ul style="list-style: none">
        <li>1. Создать и редактировать проекты </li>
        <li>2. Назначать программистов на проекты.</li>
        <li>3. Снимать программистов с проектов.</li>
        <li>4. Добавлять и редактировать программистов</li>
    </ul>
    <p>Для доступа к базе данных использовать Entity Framework с подходом code first.</p>
    <p>В проекте должно быть использовано Dependency Injection.</p>
    <p>UI – простой интерфейс на bootstrap, все запросы – ajax</p>
    <p>Можно использовать asp.net mvc или asp.net core.</p>
    <p>
        Можно использовать клиентский фреймворк (angular, vue, react, knockout etc), на Ваш выбор, любой. Это не обязательно, главное ajax.
    </p>
</div>
<h3>
    Use Coders and Projects link for view results.
</h3>